*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    /* height: 100vh; */
    
}
header{
   border-bottom: 1px solid lightgray;
   height: 50px;
  
}

.navbar{
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin: 10px auto;
  background-color: white;
   border-bottom: 1px solid lightgray;
   height: 50px;
 
}



.reg{
    display: flex;
    gap: 20px;
   
}

.logIn{
    background-color: #0095f6;
    padding: 8px 14px;
    font-size: 14px;
    color:white;
    border-radius: 6px;
    font-weight: 600;
    border:none;
}

.logIn:hover{
    background-color: #1f28ad;
}

.signUp{
    background-color: #fff;
    border:none;
    color:#0095f6;
   font-size: 14px;
   font-weight: 600;
}

.signUp:hover{
    color:#1f28ad;
}

main{
  max-width: 975px;
  width: 100%;
}
.hero{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin: 50px auto;
    padding-left: 200px;
}

.hero-img{
    border-radius: 50%;
    padding: 20px;

 
}

.right{
    width: 330px;
    height:200px;
}



.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top > h2{
    font-weight: 400;
    font-size: 20px;
}

.follow{
    border:none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
}
.msg{
    border:none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
}

.dot{
    border:none;
    background-color: white;
}

.middle{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 18px;
}
p>span{
    color:gray;
}

.bottom > h5{
  font-weight: 500;
  margin-bottom: 10px;

}

.btn-threads{
    padding:4px 8px;
    border-radius:20px;
    border: none;

}

.gray{
    color:gray;

}

.link{
    color:#00376B;
}
 
a:link{
    text-decoration: none;
    color:#00376B;
}

a:hover{
    text-decoration:underline;
}

.circle-section{
    width: 100%;
}

.border{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid lightgray;
     padding: 2px;
     text-align: center;
     margin:70px 0 70px 225px;
}


.circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #53bdeb;
   }

   .flex-img{
    width:100%;
    max-width: 975px;
    border-top:2px solid lightgray;
    margin: 20px auto;
    text-align: center;
   }

   .content{
    width: 325px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    

   }



   .btn{
    padding: 16px 0;
    font-size: 14px;
    font-weight: 600;
    color:gray;
   }
   /* .icon{
    margin: 5px;
   } */
   .active{
    border-top:1px solid black;
    color:black
   }

   .images{
    width: 100%;
    max-width: 975px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   }

   .card-img{
    width: 325px;
    height: 450px;
    padding: 2px;
   }

   
   img{
      width:100%;
      height: 100%;
   }

   